html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('https://dce-documents.s3.amazonaws.com/s3fs-public/styles/max_650x650/public/2023-07/banner-solicita-tarjeta-corp.png.webp?itok=nYEwoVi3 ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:  100vh;
}