@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4" style="color: white;">Bienvenido a la página principal del Estudiante</h1>
</div>
<div id="Inicio" class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 mb-4">
            <div class="card card-equal-height" style="width: 100%;">
                <img src="https://marketing4ecommerce.mx/wp-content/uploads/2016/07/CategoriaOk.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Categorias!</h5>
                    <p class="card-text">Ver índice de Categorias</p>
                    <a href="@Url.Action("Index", "Categories")" class="btn btn-primary">Vamos allá!</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card card-equal-height" style="width: 100%;">
                <img src="https://blog.impulse.lat/hubfs/shutterstock_631776395.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Privacidad!</h5>
                    <p class="card-text">Ver el índice de Privacy</p>
                    <a href="@Url.Action("Privacy", "Home")" class="btn btn-primary">Vamos allá!</a>
                </div>
            </div>
        </div>
    </div>
</div>

